# ref: https://docs.travis-ci.com/user/languages/python
language: python
sudo: required

matrix:
    include:
     - python: 2.7
       env: TOXENV=py27
     - python: 2.7
       env: TOXENV=py27-functional
     - python: 2.7
       env: TOXENV=update-pep8
     - python: 2.7
       env: TOXENV=docs
     - python: 2.7
       env: TOXENV=coverage,codecov
     - python: 3.4
       env: TOXENV=py34
     - python: 3.5
       env: TOXENV=py35
     - python: 3.5
       env: TOXENV=py35-functional
     - python: 3.6
       env: TOXENV=py36
     - python: 3.6
       env: TOXENV=py36-functional

install:
  - pip install tox

script:
  - ./run_tox.sh tox

