certifi>=2026.7.22 # MPL
python-dateutil>=2.8.2  # BSD
pydantic>=2.13.5  # MIT
setuptools>=84.0.0  # PSF/ZPL
PyYAML>=6.0.3  # MIT
websocket-client!=0.40.0,!=0.41.0.dev,!=0.42.0.dev,>=1.9.1 # LGPLv2+
requests # Apache-2.0
requests-oauthlib # ISC
typing-extensions>=4.16.0  # PSF
urllib3>=2.7.0,<3.0.0 # MIT
durationpy>=0.11 # MIT
